name: cezzis
services:
  cocktails-api:
    image: acrveceusgloshared001.azurecr.io/cocktailsapi:latest
    container_name: cocktails-api
    restart: unless-stopped
    ports:
      - "7177:7177"
      - "7176:7176"
    environment:
      - SEED_ON_STARTUP=true
      - ASPNETCORE_ENVIRONMENT=docker
      - ASPNETCORE_HTTPS_PORTS=7176
      - ASPNETCORE_URLS=http://0.0.0.0:7177;https://0.0.0.0:7176
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/cocktails-api.pfx
      - CosmosDb__CocktailsContainerName=cezzis-docker-cocktails-cocktail
      - CosmosDb__IngredientsContainerName=cezzis-docker-cocktails-ingredient
      - CosmosDb__AccountsContainerName=cezzis-docker-accounts-account
      - Kafka__BootstrapServers=kafka-broker-1:9093
      - Kafka__SslCaLocation=/https/kafka.crt
      - LocalhostImages__Enabled=true
      - LocalhostImages__Path=/data/cocktail/images/
    volumes:
      - "$PWD/.certs/cocktails-api:/https:ro"
      - "/home/mtnvencenzo/Github/cezzis-com-cocktails-images/Images/Main:/data/cocktail/images:ro"
    entrypoint: >
      sh -c "
        if ls /https/*.crt 1> /dev/null 2>&1; then
          cp /https/*.crt /usr/local/share/ca-certificates/ &&
          update-ca-certificates
        fi &&
        exec dotnet Cocktails.Api.dll
      "
    networks:
      - cezzis-network
      - elastic-stack_elastic-network
      - azure-stack_azure-network
      - kafka-stack_kafka-network
    depends_on:
      - dapr-sidecar-cocktails-api

  dapr-sidecar-cocktails-api:
    image: daprio/daprd:latest
    container_name: dapr-sidecar-cocktails-api
    restart: unless-stopped
    ports:
      - "3500:3500"
      - "50001:50001"
    environment:
      - SSL_CERT_DIR=/certs
    command: >
      ./daprd
        --app-id cocktails-api
        --app-port 7176
        --app-protocol https
        --dapr-http-port 3500
        --dapr-grpc-port 50001
        --components-path /components
        --enable-metrics false
        --enable-api-logging false
        --placement-host-address ''
        --scheduler-host-address ''
        --app-channel-address cocktails-api
    volumes:
      - ./.dapr/docker:/components
      - "$PWD/.certs/dapr-sidecar-cocktails-api:/certs:ro"
    networks:
      - cezzis-network
      - redis-stack_redis-network
      - azure-stack_azure-network
      - kafka-stack_kafka-network

  cocktails-web:
    image: acrveceusgloshared001.azurecr.io/cocktailsweb:latest
    container_name: cocktails-web
    restart: unless-stopped
    ports:
      - "4000:80"
      - "4001:443"
    environment:
      - VITE_NODE_ENV=docker
      - VITE_PORT=4001
      - VITE_TELEMETRY_URL=https://localhost:50052
      - VITE_AUTH0_DOMAIN=login.cezzis.com
      - VITE_AUTH0_CLIENT_ID=HZXyiZxjHgkQqeb6UJxmikCGYpSz5iPb
      - VITE_AUTH0_REDIRECT_URI=https://localhost:4001/iam/auth/redirect/
      - VITE_AUTH0_COCKTAILS_API_AUDIENCE=https://cezzis-cocktails-api
      - VITE_COCKTAILS_API_URL=https://localhost:7176
      - VITE_COCKTAILS_IMAGE_URL=https://localhost:7176/api/v1/images
    volumes:
      - "$HOME/Github/cezzis-com-cocktails-web/cocktails.web/.certs:/etc/nginx/certs:ro"
    networks:
      - cezzis-network
    depends_on:
      - cocktails-api

  cocktails-mcp:
    image: acrveceusgloshared001.azurecr.io/cocktailsmcp:latest
    container_name: cocktails-mcp
    restart: unless-stopped
    ports:
      - "7999:7999"
    environment:
      - ENV=docker
      - PORT=7999
      - AUTH0_AUDIENCE=https://cezzis-cocktails-api
      - AUTH0_CLIENT_ID=6pNnUIHVbyakv27TtICiLyAQbXYxNjOQ
      - AUTH0_DOMAIN=login.cezzis.com
      - AUTH0_SCOPES="openid offline_access profile email read:owned-account write:owned-account"
      - COCKTAILS_API_HOST=https://cocktails-api:7176
      - COSMOS_ACCOUNT_ENDPOINT=https://cosmosdb:8081/
      - COSMOS_CONNECTION_STRING=AccountEndpoint=https://cosmosdb:8081/;AccountKey=C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==;
      - COSMOS_CONTAINER_NAME=cezzis-docker-device-auth
      - COSMOS_DATABASE_NAME=cocktails-db
      - LOG_LEVEL=info
      - OTLP_ENDPOINT=https://otel-collector:50052
      - OTLP_INSECURE=false
      - OTLP_METRICS_ENABLED=false
      - TLS_CERT_FILE=/certs/cocktails-mcp.crt
      - TLS_KEY_FILE=/certs/cocktails-mcp.key
    volumes:
      - "$HOME/Github/cezzis-com-cocktails-mcp/.certs:/certs:ro"
    entrypoint: >
      sh -c "
        if ls /certs/*.crt 1> /dev/null 2>&1; then
          apk add --no-cache ca-certificates &&
          cp /certs/*.crt /usr/local/share/ca-certificates/ &&
          update-ca-certificates
        fi &&
        exec /cezzis-cocktails
      "
    networks:
      - cezzis-network
      - elastic-stack_elastic-network
      - azure-stack_azure-network


networks:
  cezzis-network:
    driver: bridge
  
  azure-stack_azure-network:
    external: true
    name: azure-stack_azure-network

  redis-stack_redis-network:
    external: true
    name: redis-stack_redis-network

  kafka-stack_kafka-network:
    external: true
    
  elastic-stack_elastic-network:
    external: true
    name: elastic-stack_elastic-network
