name: cezzis
services:
  cocktails-api:
    image: acrveceusgloshared001.azurecr.io/cocktailsapi:latest
    container_name: cocktails-api
    ports:
      - "7177:8080"
      - "7176:443"
    environment:
      - DAPR_HTTP_PORT=3500
      - DAPR_GRPC_PORT=50001
      - DOTNET_ENVIRONMENT=docker
      - ASPNETCORE_ENVIRONMENT=docker
      - ASPNETCORE_HTTPS_PORTS=7176
      - ASPNETCORE_URLS=http://0.0.0.0:7177;https://0.0.0.0:7176
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - CosmosDb__CocktailsContainerName=cezzis-docker-cocktails-cocktail
      - CosmosDb__IngredientsContainerName=cezzis-docker-cocktails-ingredient
      - CosmosDb__AccountsContainerName=cezzis-docker-accounts-account
    volumes:
      - "$PWD/.certs:/https:ro"
    networks:
      - cezzis-network
      - elastic-stack_elastic-network
      - azure-stack_azure-network
    depends_on:
      - dapr-sidecar-cocktails-api

  dapr-sidecar-cocktails-api:
    image: daprio/daprd:latest
    container_name: dapr-sidecar-cocktails-api
    ports:
      - "3500:3500"
      - "50001:50001"
    command: >
      ./daprd
        --app-id cocktails-api-docker
        --app-port 7177
        --app-protocol http
        --dapr-http-port 3500
        --dapr-grpc-port 50001
        --components-path /components
        --enable-metrics false
        --enable-api-logging false
        --placement-host-address ''
        --scheduler-host-address ''
    volumes:
      - ./.dapr/docker:/components
    networks:
      - cezzis-network
      - dapr-stack_dapr-network
      - azure-stack_azure-network

networks:
  cezzis-network:
    driver: bridge
  
  azure-stack_azure-network:
    external: true
    name: azure-stack_azure-network

  dapr-stack_dapr-network:
    external: true
    name: dapr-stack_dapr-network

  kafka-stack_kafka-stack:
    external: true
    
  elastic-stack_elastic-network:
    external: true
    name: elastic-stack_elastic-network

#volumes:
